{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".eslintrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "jsxBracketSameLine": true
}
